<% include ./partials/header.ejs %>
<div class="profile w-full min-h-screen bg-white text-black pt-1">
  <form
    id="uploadform"
    hidden
    action="/fileupload"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="file" name="image" />
  </form>
  <div class="dets flex flex-col items-center justify-center mt-[5px]">
    <div class="relative">
      <span
        class="w-10 h-10 absolute bottom-0 right-0 flex items-center justify-center bg-zinc-200 rounded-full"
      >
        <i id="uploadicon" class=" cursor-pointer text-zinc-800 ri-pencil-fill"></i>
      </span>
      <div class="h-32 w-32 rounded-full bg-zinc-200 overflow-hidden">
        <img
          class="w-full h-full object-cover"
          src="/images/uploads/<%= user.profileImage %>"
          alt=""
        />
      </div>
    </div>
    <h1 class="text-3xl font-semibold mt-3"><%= user.name %></h1>
    <h3 class="text-xl">@<%= user.username %></h3>
    <a
      href="/edit"
      class="px-7 mt-2 ml-2 py-2 bg-zinc-500 rounded-full text-xs font-semibold"
      >Edit</a
    >
    <a
      class="px-8 py-2 font-semibold text-l bg-red-600 rounded-lg mt-3"
      href="/add"
      >add new post</a
    >
  </div>
  <div class="cards flex flex-wrap gap-20 px-[90px] mt-8">
    <div class="card">
      <div class="w-52 h-40 bg-white rounded-lg">
        <img class="w-full h-full object-cover" src="/images/uploads/<%= user?.posts[0]?.image  %>" alt="" />
      </div>
      <a href="/show/posts" class="inline-block text-xl font-semibold mt-1"
        >Your Uploads</a
      >
      <h5 class="text-sm font-medium opacity-60">
        <%= user.posts.length %>Pins
      </h5>
    </div>
    
	<div>
      
  </div>
</div>

<script>
  document.querySelector("#uploadicon").addEventListener("click", function () {
    document.querySelector("#uploadform input").click();
  });

  document
    .querySelector("#uploadform input")
    .addEventListener("change", function () {
      document.querySelector("#uploadform").submit();
    });
</script>
<% include ./partials/footer.ejs %>
